<body style="font-family:arial; color: rgb(128, 128, 128); font-size:14px;">
    <center>
        <div style="border: 1px solid rgb(229, 229, 229); width: 80%; padding:24px; border-radius:3px; text-align:left">

            <span style="font-size: 1.3em;">
                Hola <strong>@Model.Nombre!</strong>
            </span>
            <br />
            <br />
            <strong>Excelente!</strong>
            <br />
            <br />
            <span>
                Has configurado con exito tu cuenta!, ahora solo falta configurar tu acceso y una que otra cosa mas!,
                pero ya estas aquí , por lo que todo va de maravilla!.
            </span>
            <br />
            <br />

            Para activar tu cuenta haz <a href="@Model.Url">click aquí</a>
            <br />
            <br />
            <span>
                Saludos!.
            </span>
            <br />
            <br />
            Equipo Grupo Valentys
            <br />
            http://www.valentys.com
            <br />
        </div>
        <div style="width: 80%; padding:8px 0px 0px 0px; text-align:right; opacity: 0.4">
            Orgullosamente desarrollado en <a href="http://gale.azurewebsites.net/">Gale</a>
        </div>
    </center>
</body>
</html>