<html>

<body style="font-family:arial; color: rgb(128, 128, 128); font-size:14px;">
    <center>

        <div style="border: 1px solid rgb(229, 229, 229); width: 80%; max-width:650px; padding:24px; border-radius:3px; text-align:left;overflow:hidden;">
            <div style="border-bottom:6px solid #FF1966; margin:-24px -24px 10px -24px;background:#3F51B5;">
                <img style="width:100%; max-width:650px;" src="cid:header">
            </div>
            <br />
            <br />
            <span style="color:#FF1966; font-size: 2em;">Bienvenido <strong>@Model.Name!</strong></span>
            <br />
            <br />
            <span>
                Estamos muy contentos de que te unas a nosotros, y que comiences a aprender lo que quieras y enseñar lo que sabes!!!
                <br />
                Esperamos que tengas una excelente experiencia en nuestra plataforma.
            </span>
            <br />
            <br />
            <span>
                Recuerda visitarnos en nuestro <a style="text-decoration:none; color:#FF1966; font-weight:bold;" href="https://www.facebook.com/groups/widul/">Grupo de Facebook</a>
            </span>
            <br />
            <br />
            Equipo Widul
            <br />
            <a style="text-decoration:none; color:#3F51B5; font-weight:bold;" href="http://www.widul.com">http://www.widul.com</a>
            <br />
        </div>
        <div style="width: 80%; padding:8px 0px 0px 0px; text-align:right; opacity: 0.4">
            Orgullosamente desarrollado en <a href="http://gale.azurewebsites.net/">Gale</a>
        </div>
    </center>
</body>
</html>