<html>

<head>

    <style>

        body {

            background-color:red;
        }

    </style>

</head>

<body>

    <h1>Muchas gracias por participar!!!</h1>
    <a href="@(Model.host)#/public/events/view/resume/index/@(Model.target_event)">Ir al evento</a>

</body>

</html>