<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body style="font-family:arial; color: rgb(128, 128, 128); font-size:14px;">
    <center>

        <div style="border: 1px solid rgb(229, 229, 229); width: 80%; max-width:650px; padding:24px; border-radius:3px; text-align:left;overflow:hidden;">
            <div style=" margin:-24px -24px 10px -24px;background:#3F51B5;">
                <img style="width:100%; max-width:650px;" src="cid:header">
            </div>
            <br />
            <span style="color:#FF1966; font-size: 2em; font-weight: lighter;"><img style="margin-right:5px;width: 25px;" src="cid:comment">Tienes un nuevo Comentario</span>
            <br />
            <br />


            <table style="width:100%; border:1px solid #f2f2f2; border-radius:3px; padding:10px;">
                <tr>
                    <td width="80px">
                        <center>
                            <div style="background:grey; height:80px; max-height:80px; min-height:80px; width:80px; border-radius:40px; overflow: hidden;">
                                <img style="width:100%;" src="cid:avatar">
                            </div>
                        </center>
                    </td>
                    <td>
                        <div style="margin:10px 0px 10px 10px;">
                            <span style="font-size:1.5em; color:#333333;">@(Model.Comment.creator_name)</span>
                            <p style="margin: 5px 0; max-width:560px;">@(Model.Comment.comment)</p>
                        </div>
                    </td>
                </tr>
                <!--
        <tr>
            <td></td>
            <td align="right">
                <a style="text-decoration:none; float:right; margin:10px 0px 10px 10px; padding:10px 15px; background:#FF1966; color: white; border-radius:25px; font-size:18px;">
                    Ver&nbsp;Evento
                </a>
            </td>
        </tr>
            -->
            </table>
            <br />
            <br />
            <div>
                <span>
                    Recuerda visitarnos en nuestro <a style="text-decoration:none; color:#FF1966; font-weight:bold;" href="https://www.facebook.com/groups/widul/">Grupo de Facebook</a>
                </span>
                <br />
                <br /> Equipo Widul
                <br />
                <a style="text-decoration:none; color:#3F51B5; font-weight:bold;" href="http://www.widul.com">http://www.widul.com</a>
                <br />
            </div>
        </div>
        <div style="width: 80%; padding:8px 0px 0px 0px; text-align:right; opacity: 0.4; max-width: 650px;">
            Orgullosamente desarrollado en <a href="http://gale.azurewebsites.net/">Gale</a>
        </div>
    </center>
</body>
</html>
