<html>

<head>
    <title>Widul</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta property="og:title" content="@(Model.Event.name)">
    <meta property="og:description" content="@(Model.Event.description)">
    <meta property="og:url" content="www.widul.com">
    <meta property="og:image" content="http://@(Model.AppUrl)/widul/api/Events/@(Model.EventToken)/Thumbnail" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
</head>

<body>

    <h1>@(Model.AppUrl)</h1>
    <p>Te estamos redirigiendo al evento @(Model.Event.name)</p>

</body>

</html>
